# This is no longer needed and is not the copy source to ./.env file. Left here only for reference.
XDEBUG_CONFIG=idekey={{data.ide.key}} remote_host={{data.host.ip}} remote_port=9000 remote_enable=1 remote_autostart=1 remote_mode=req remote_handler=dbgp remote_connect_back=1